/* Style/HomePage.module.css */

.homepage-container {
<<<<<<< HEAD
  position: relative;
  display: flex;
  flex-wrap: wrap;
  /* flex-grow: 1;  */
}

.left-column {
  flex: 1;
  padding-right: 10px;
}

.right-column {
  flex: 1;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
}

.chart {
  background-color: black;
  /* Set the chart's background color to black */
}

.total-expenses {
  margin-top: 10px;
}

.button {
  padding: 8px 16px;
  background-color: #3B5704;
  color: #F1FED1;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'TT Interphases Bold';
}
=======
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }
  
  .left-column {
    flex: 1;
    padding-right: 10px;
  }
  
  .right-column {
    flex: 1;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
  }
  
  .chart {
    background-color: black; /* Set the chart's background color to black */
  }
  
  .total-expenses {
    margin-top: 10px;
  }
  
  .button {
    padding: 8px 16px;
    background-color: #3B5704;
    color: #F1FED1;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'TT Interphases Bold';
  }
  
>>>>>>> d406a58b3958094ae805136d97af8ece818ee984
